<?xml version="1.0"?>

<model>
  <name>Firebird VI OakD-Lite</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Aadith Warrier</name>
    <email>warrieraadith@gmail.com</email>
  </author>

  <description>
    A 4 wheel diff drive robot with a OakD-Lite RGBD sensor.
  </description>
</model>